* {
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(245deg, #1f4569 , #387bbf , #c2c4c8, #e1b383, #ff5c3d );
    background-size: 200% 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: colors 15s ease infinite;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 15px 14px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 20px;
}

@keyframes colors {
    0% {
      background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 420px) {
    .relogio {
        height: 150px;
        width: 340px;
        background: transparent;
        border-radius: 3px;
        box-shadow: 0px 15px 14px rgba(0, 0, 0, .5);
    }

    .relogio div {
        height: 110px;
        width: 90px;
        border-radius: 7px;
        letter-spacing: 2px;
    }

    .relogio span {
        font-weight: bolder;
        font-size: 40px;
    }

    .relogio span.tempo {
        font-size: 15px;
    }
}